<!DOCTYPE html>
<html>
<head>
    <title>Tareas por hacer</title>
    <!-- Carga Alpine.js, defer espera a que el HTML esté listo -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body>

  <!-- PATRON MVVM - VIEWMODEL: Alpine conecta los datos con la interfaz -->
  <!-- PATRON OBSERVER: Alpine vigila los datos y actualiza la pantalla sola -->
  <div x-data="{ tareas: [], nueva: '' }" 
       x-init="fetch('/tareas').then(r => r.json()).then(d => tareas = d)">
       <!-- x-data declara los datos | x-init pide las tareas a Flask al cargar -->

    <ul>
      <!-- PATRON OBSERVER: si tareas cambia, esta lista se actualiza sola -->
      <template x-for="tarea in tareas" :key="tarea">
        <!-- PATRÓN MVVM - VIEW: solo muestra los datos, no los modifica -->
        <li x-text="tarea"></li>
      </template>
    </ul>

    <!-- PATRON MVVM - VIEWMODEL + OBSERVER: x-model sincroniza el input con la variable nueva -->
    <input x-model="nueva" placeholder="Nueva tarea">

    <!-- PATRON OBSERVER: al hacer click modifica tareas y Alpine actualiza la pantalla -->
    <button @click="tareas.push(nueva); nueva=''">Agregar</button>

  </div>

</body>
</html>